.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__nv0Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nv0Z {
    width: 100%;
  }
}
.plan__jpJus:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___40Sc4 {
  font-size: 48px;
}
.freeBox__xWcKp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__xWcKp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xWcKp > :global(.__wab_flex-container) > *,
.freeBox__xWcKp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xWcKp > :global(.__wab_flex-container) > picture > img,
.freeBox__xWcKp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__vGnSv:global(.__wab_instance) {
  position: relative;
}
.bullet___5GdL2:global(.__wab_instance) {
  position: relative;
}
.bullet___1EjeI:global(.__wab_instance) {
  position: relative;
}
.button__hXSb:global(.__wab_instance) {
  position: relative;
}
.svg___64SN3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eVdFn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ty1A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ty1A {
    width: 100%;
  }
}
.plan__ltZi8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__y5La9 {
  font-size: 48px;
}
.freeBox___1UwMf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___1UwMf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1UwMf > :global(.__wab_flex-container) > *,
.freeBox___1UwMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1UwMf > :global(.__wab_flex-container) > picture > img,
.freeBox___1UwMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__e9Cap:global(.__wab_instance) {
  position: relative;
}
.bullet__hku65:global(.__wab_instance) {
  position: relative;
}
.bullet__vrNj5:global(.__wab_instance) {
  position: relative;
}
.bullet___9Y8C:global(.__wab_instance) {
  position: relative;
}
.button__zLhYq:global(.__wab_instance) {
  position: relative;
}
.svg__dLhZh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mipRg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__gcRsY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gcRsY {
    width: 100%;
  }
}
.plan__nLzC:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__d7TeC {
  font-size: 48px;
}
.freeBox___2NSrh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___2NSrh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2NSrh > :global(.__wab_flex-container) > *,
.freeBox___2NSrh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2NSrh > :global(.__wab_flex-container) > picture > img,
.freeBox___2NSrh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___6M1DC:global(.__wab_instance) {
  position: relative;
}
.bullet__c6P2K:global(.__wab_instance) {
  position: relative;
}
.bullet__maIwz:global(.__wab_instance) {
  position: relative;
}
.button__gp44M:global(.__wab_instance) {
  position: relative;
}
.svg__svgc8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s0Zqm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___5Rzcy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5Rzcy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___5Rzcy > :global(.__wab_flex-container) > *,
.freeBox___5Rzcy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Rzcy > :global(.__wab_flex-container) > picture > img,
.freeBox___5Rzcy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq___9TzPl:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__yVla6:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
