.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__oaeCq {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-HQS2zYAujUf3);
}
.freeBox___81Kdr {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-HILr95F5hbDO);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___81Kdr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___81Kdr > :global(.__wab_flex-container) > *,
.freeBox___81Kdr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___81Kdr > :global(.__wab_flex-container) > picture > img,
.freeBox___81Kdr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81Kdr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81Kdr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___81Kdr > :global(.__wab_flex-container) > *,
  .freeBox___81Kdr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___81Kdr > :global(.__wab_flex-container) > picture > img,
  .freeBox___81Kdr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sN8D7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__sN8D7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sN8D7 > :global(.__wab_flex-container) > *,
.freeBox__sN8D7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sN8D7 > :global(.__wab_flex-container) > picture > img,
.freeBox__sN8D7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink___11Xkv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__npgC {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___8CVdh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___0HzRf {
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link___0HzRf:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__ffIzq {
  position: relative;
  font-size: 14px;
  color: var(--token-_s2Diaz-Sdq5);
}
.link___5Pa7P {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link___5Pa7P:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__whirK {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__whirK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__whirK > :global(.__wab_flex-container) > *,
.freeBox__whirK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__whirK > :global(.__wab_flex-container) > picture > img,
.freeBox__whirK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__whirK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__whirK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__whirK > :global(.__wab_flex-container) > *,
  .freeBox__whirK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__whirK > :global(.__wab_flex-container) > picture > img,
  .freeBox__whirK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___0CjE7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___0CjE7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0CjE7 > :global(.__wab_flex-container) > *,
.freeBox___0CjE7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0CjE7 > :global(.__wab_flex-container) > picture > img,
.freeBox___0CjE7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__w82B8 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__bqxTs {
  font-size: 14px;
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
}
.root .link__bqxTs:hover {
  color: var(--token-NEon4Y--Z);
}
.link__arpv8 {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__arpv8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dAh6H {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__dAh6H:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wdhKj {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__wdhKj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__py739 {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__py739:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__v0U6J {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__v0U6J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__v0U6J > :global(.__wab_flex-container) > *,
.freeBox__v0U6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v0U6J > :global(.__wab_flex-container) > picture > img,
.freeBox__v0U6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___0Ilao {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__o4KXv {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__o4KXv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wn2Lf {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__wn2Lf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xld6X {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__xld6X:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vshKz {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__vshKz:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ih0Fy {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__ih0Fy:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__tNuVy {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__tNuVy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tNuVy > :global(.__wab_flex-container) > *,
.freeBox__tNuVy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tNuVy > :global(.__wab_flex-container) > picture > img,
.freeBox__tNuVy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nkcur {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hg2KM {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__hg2KM:hover {
  color: var(--token-NEon4Y--Z);
}
.link__v72M5 {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__v72M5:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bnm3J {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__bnm3J:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bc6PS {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__bc6PS:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xQAdW {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__xQAdW:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__xQ8BS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__xQ8BS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xQ8BS > :global(.__wab_flex-container) > *,
.freeBox__xQ8BS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xQ8BS > :global(.__wab_flex-container) > picture > img,
.freeBox__xQ8BS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gLCll {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__epWwm {
  position: relative;
  font-size: 14px;
  color: var(--token-_s2Diaz-Sdq5);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__jrMy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__k4J1Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__vzzcJ {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__kgO0N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__sojvz {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-HQS2zYAujUf3);
}
.freeBox__saoWk {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-HILr95F5hbDO);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__saoWk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__saoWk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__saoWk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__saoWk > :global(.__wab_flex-container) > *,
  .freeBox__saoWk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__saoWk > :global(.__wab_flex-container) > picture > img,
  .freeBox__saoWk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__qsoz5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__ceHtr {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  height: auto;
  font-size: 14px;
}
.root .link__ceHtr:hover {
  text-decoration-line: underline;
}
.link__gZxMl {
  position: relative;
  color: var(--token-_s2Diaz-Sdq5);
  font-size: 14px;
}
.root .link__gZxMl:hover {
  text-decoration-line: underline;
}
.text__wmBvS {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-_s2Diaz-Sdq5);
}
.freeBox__l1JbR {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__l1JbR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__l1JbR > :global(.__wab_flex-container) > *,
.freeBox__l1JbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l1JbR > :global(.__wab_flex-container) > picture > img,
.freeBox__l1JbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__wiML:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__w0FGn {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__w0FGn:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__uilQw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3Tr5D {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___3Tr5D:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__xbJym:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uvVna {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__uvVna:hover {
  color: var(--token-dph1wZ7NjV9);
}
