@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-HQS2zYAujUf3: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-HQS2zYAujUf3);
  --token-t9FfiAKdHqcT: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-t9FfiAKdHqcT);
  --token-_s2Diaz-Sdq5: #666666;
  --plasmic-token-text: var(--token-_s2Diaz-Sdq5);
  --token-HILr95F5hbDO: 1104px;
  --plasmic-token-max-content-width: var(--token-HILr95F5hbDO);
}

.plasmic_default_styles {
  --mixin-8VcG05vl9mI2_font-family: "Inter";
  --mixin-8VcG05vl9mI2_font-size: 18px;
  --mixin-8VcG05vl9mI2_font-weight: 400;
  --mixin-8VcG05vl9mI2_font-style: normal;
  --mixin-8VcG05vl9mI2_color: var(--token-_s2Diaz-Sdq5);
  --mixin-8VcG05vl9mI2_text-align: left;
  --mixin-8VcG05vl9mI2_text-transform: none;
  --mixin-8VcG05vl9mI2_line-height: 1.5;
  --mixin-8VcG05vl9mI2_letter-spacing: normal;
  --mixin-8VcG05vl9mI2_white-space: pre-wrap;
  --mixin-8VcG05vl9mI2_user-select: text;
  --mixin-8VcG05vl9mI2_text-decoration-line: none;
  --mixin-8VcG05vl9mI2_text-overflow: clip;
  --mixin-ipbHPkodrfVM_font-family: "Inter";
  --mixin-ipbHPkodrfVM_color: #000000;
  --mixin-ipbHPkodrfVM_font-size: 72px;
  --mixin-ipbHPkodrfVM_font-weight: 900;
  --mixin-ipbHPkodrfVM_letter-spacing: -4px;
  --mixin-ipbHPkodrfVM_line-height: 1;
  --mixin-Rv1apIXRWe4I_font-family: "Inter";
  --mixin-Rv1apIXRWe4I_color: #000000;
  --mixin-Rv1apIXRWe4I_font-size: 48px;
  --mixin-Rv1apIXRWe4I_font-weight: 700;
  --mixin-Rv1apIXRWe4I_letter-spacing: -1px;
  --mixin-Rv1apIXRWe4I_line-height: 1.1;
  --mixin-TXdhOeR7jD2F_font-family: "Inter";
  --mixin-TXdhOeR7jD2F_color: #000000;
  --mixin-TXdhOeR7jD2F_font-size: 32px;
  --mixin-TXdhOeR7jD2F_font-weight: 600;
  --mixin-TXdhOeR7jD2F_letter-spacing: -0.8px;
  --mixin-TXdhOeR7jD2F_line-height: 1.2;
  --mixin-Zjd69Ie5nIhg_font-family: "Inter";
  --mixin-Zjd69Ie5nIhg_color: #000000;
  --mixin-Zjd69Ie5nIhg_font-size: 24px;
  --mixin-Zjd69Ie5nIhg_font-weight: 600;
  --mixin-Zjd69Ie5nIhg_letter-spacing: -0.5px;
  --mixin-Zjd69Ie5nIhg_line-height: 1.3;
  --mixin-ejMT1FttrBuZ_font-family: "Inter";
  --mixin-ejMT1FttrBuZ_color: #000000;
  --mixin-ejMT1FttrBuZ_font-size: 20px;
  --mixin-ejMT1FttrBuZ_font-weight: 600;
  --mixin-ejMT1FttrBuZ_letter-spacing: -0.3px;
  --mixin-ejMT1FttrBuZ_line-height: 1.5;
  --mixin-S92Bih6pCiFE_font-family: "Inter";
  --mixin-S92Bih6pCiFE_color: #000000;
  --mixin-S92Bih6pCiFE_font-size: 16px;
  --mixin-S92Bih6pCiFE_font-weight: 600;
  --mixin-S92Bih6pCiFE_line-height: 1.5;
  --mixin-8KJhaQ7lj5LR_border-left-color: #dddddd;
  --mixin-8KJhaQ7lj5LR_border-left-style: solid;
  --mixin-8KJhaQ7lj5LR_border-left-width: 3px;
  --mixin-8KJhaQ7lj5LR_color: #888888;
  --mixin-8KJhaQ7lj5LR_padding-left: 10px;
  --mixin-JiJMZZrVsRkB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JiJMZZrVsRkB_border-bottom-color: #dddddd;
  --mixin-JiJMZZrVsRkB_border-bottom-style: solid;
  --mixin-JiJMZZrVsRkB_border-bottom-width: 1px;
  --mixin-JiJMZZrVsRkB_border-left-color: #dddddd;
  --mixin-JiJMZZrVsRkB_border-left-style: solid;
  --mixin-JiJMZZrVsRkB_border-left-width: 1px;
  --mixin-JiJMZZrVsRkB_border-right-color: #dddddd;
  --mixin-JiJMZZrVsRkB_border-right-style: solid;
  --mixin-JiJMZZrVsRkB_border-right-width: 1px;
  --mixin-JiJMZZrVsRkB_border-top-color: #dddddd;
  --mixin-JiJMZZrVsRkB_border-top-style: solid;
  --mixin-JiJMZZrVsRkB_border-top-width: 1px;
  --mixin-JiJMZZrVsRkB_border-bottom-left-radius: 3px;
  --mixin-JiJMZZrVsRkB_border-bottom-right-radius: 3px;
  --mixin-JiJMZZrVsRkB_border-top-left-radius: 3px;
  --mixin-JiJMZZrVsRkB_border-top-right-radius: 3px;
  --mixin-JiJMZZrVsRkB_font-family: "Inconsolata";
  --mixin-JiJMZZrVsRkB_padding-bottom: 1px;
  --mixin-JiJMZZrVsRkB_padding-left: 4px;
  --mixin-JiJMZZrVsRkB_padding-right: 4px;
  --mixin-JiJMZZrVsRkB_padding-top: 1px;
  --mixin-_WICGoAqD8jT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_WICGoAqD8jT_border-bottom-color: #dddddd;
  --mixin-_WICGoAqD8jT_border-bottom-style: solid;
  --mixin-_WICGoAqD8jT_border-bottom-width: 1px;
  --mixin-_WICGoAqD8jT_border-left-color: #dddddd;
  --mixin-_WICGoAqD8jT_border-left-style: solid;
  --mixin-_WICGoAqD8jT_border-left-width: 1px;
  --mixin-_WICGoAqD8jT_border-right-color: #dddddd;
  --mixin-_WICGoAqD8jT_border-right-style: solid;
  --mixin-_WICGoAqD8jT_border-right-width: 1px;
  --mixin-_WICGoAqD8jT_border-top-color: #dddddd;
  --mixin-_WICGoAqD8jT_border-top-style: solid;
  --mixin-_WICGoAqD8jT_border-top-width: 1px;
  --mixin-_WICGoAqD8jT_border-bottom-left-radius: 3px;
  --mixin-_WICGoAqD8jT_border-bottom-right-radius: 3px;
  --mixin-_WICGoAqD8jT_border-top-left-radius: 3px;
  --mixin-_WICGoAqD8jT_border-top-right-radius: 3px;
  --mixin-_WICGoAqD8jT_font-family: "Inconsolata";
  --mixin-_WICGoAqD8jT_padding-bottom: 3px;
  --mixin-_WICGoAqD8jT_padding-left: 6px;
  --mixin-_WICGoAqD8jT_padding-right: 6px;
  --mixin-_WICGoAqD8jT_padding-top: 3px;
  --mixin-ekumr34QzF6k_display: flex;
  --mixin-ekumr34QzF6k_flex-direction: column;
  --mixin-ekumr34QzF6k_align-items: stretch;
  --mixin-ekumr34QzF6k_justify-content: flex-start;
  --mixin-ekumr34QzF6k_list-style-position: outside;
  --mixin-ekumr34QzF6k_padding-left: 40px;
  --mixin-ekumr34QzF6k_position: relative;
  --mixin-ekumr34QzF6k_list-style-type: decimal;
  --mixin-duG3OhnNMe5O_display: flex;
  --mixin-duG3OhnNMe5O_flex-direction: column;
  --mixin-duG3OhnNMe5O_align-items: stretch;
  --mixin-duG3OhnNMe5O_justify-content: flex-start;
  --mixin-duG3OhnNMe5O_list-style-position: outside;
  --mixin-duG3OhnNMe5O_padding-left: 40px;
  --mixin-duG3OhnNMe5O_position: relative;
  --mixin-duG3OhnNMe5O_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-8VcG05vl9mI2_font-family);
  font-size: var(--mixin-8VcG05vl9mI2_font-size);
  font-weight: var(--mixin-8VcG05vl9mI2_font-weight);
  font-style: var(--mixin-8VcG05vl9mI2_font-style);
  color: var(--mixin-8VcG05vl9mI2_color);
  text-align: var(--mixin-8VcG05vl9mI2_text-align);
  text-transform: var(--mixin-8VcG05vl9mI2_text-transform);
  line-height: var(--mixin-8VcG05vl9mI2_line-height);
  letter-spacing: var(--mixin-8VcG05vl9mI2_letter-spacing);
  white-space: var(--mixin-8VcG05vl9mI2_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-ipbHPkodrfVM_font-family);
  color: var(--mixin-ipbHPkodrfVM_color);
  font-size: var(--mixin-ipbHPkodrfVM_font-size);
  font-weight: var(--mixin-ipbHPkodrfVM_font-weight);
  letter-spacing: var(--mixin-ipbHPkodrfVM_letter-spacing);
  line-height: var(--mixin-ipbHPkodrfVM_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-Rv1apIXRWe4I_font-family);
  color: var(--mixin-Rv1apIXRWe4I_color);
  font-size: var(--mixin-Rv1apIXRWe4I_font-size);
  font-weight: var(--mixin-Rv1apIXRWe4I_font-weight);
  letter-spacing: var(--mixin-Rv1apIXRWe4I_letter-spacing);
  line-height: var(--mixin-Rv1apIXRWe4I_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-TXdhOeR7jD2F_font-family);
  color: var(--mixin-TXdhOeR7jD2F_color);
  font-size: var(--mixin-TXdhOeR7jD2F_font-size);
  font-weight: var(--mixin-TXdhOeR7jD2F_font-weight);
  letter-spacing: var(--mixin-TXdhOeR7jD2F_letter-spacing);
  line-height: var(--mixin-TXdhOeR7jD2F_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-Zjd69Ie5nIhg_font-family);
  color: var(--mixin-Zjd69Ie5nIhg_color);
  font-size: var(--mixin-Zjd69Ie5nIhg_font-size);
  font-weight: var(--mixin-Zjd69Ie5nIhg_font-weight);
  letter-spacing: var(--mixin-Zjd69Ie5nIhg_letter-spacing);
  line-height: var(--mixin-Zjd69Ie5nIhg_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-ejMT1FttrBuZ_font-family);
  color: var(--mixin-ejMT1FttrBuZ_color);
  font-size: var(--mixin-ejMT1FttrBuZ_font-size);
  font-weight: var(--mixin-ejMT1FttrBuZ_font-weight);
  letter-spacing: var(--mixin-ejMT1FttrBuZ_letter-spacing);
  line-height: var(--mixin-ejMT1FttrBuZ_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-S92Bih6pCiFE_font-family);
  color: var(--mixin-S92Bih6pCiFE_color);
  font-size: var(--mixin-S92Bih6pCiFE_font-size);
  font-weight: var(--mixin-S92Bih6pCiFE_font-weight);
  line-height: var(--mixin-S92Bih6pCiFE_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-8KJhaQ7lj5LR_color);
  padding-left: var(--mixin-8KJhaQ7lj5LR_padding-left);
  border-left: var(--mixin-8KJhaQ7lj5LR_border-left-width)
    var(--mixin-8KJhaQ7lj5LR_border-left-style)
    var(--mixin-8KJhaQ7lj5LR_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-JiJMZZrVsRkB_background);
  font-family: var(--mixin-JiJMZZrVsRkB_font-family);
  border-radius: var(--mixin-JiJMZZrVsRkB_border-top-left-radius)
    var(--mixin-JiJMZZrVsRkB_border-top-right-radius)
    var(--mixin-JiJMZZrVsRkB_border-bottom-right-radius)
    var(--mixin-JiJMZZrVsRkB_border-bottom-left-radius);
  padding: var(--mixin-JiJMZZrVsRkB_padding-top)
    var(--mixin-JiJMZZrVsRkB_padding-right)
    var(--mixin-JiJMZZrVsRkB_padding-bottom)
    var(--mixin-JiJMZZrVsRkB_padding-left);
  border-top: var(--mixin-JiJMZZrVsRkB_border-top-width)
    var(--mixin-JiJMZZrVsRkB_border-top-style)
    var(--mixin-JiJMZZrVsRkB_border-top-color);
  border-right: var(--mixin-JiJMZZrVsRkB_border-right-width)
    var(--mixin-JiJMZZrVsRkB_border-right-style)
    var(--mixin-JiJMZZrVsRkB_border-right-color);
  border-bottom: var(--mixin-JiJMZZrVsRkB_border-bottom-width)
    var(--mixin-JiJMZZrVsRkB_border-bottom-style)
    var(--mixin-JiJMZZrVsRkB_border-bottom-color);
  border-left: var(--mixin-JiJMZZrVsRkB_border-left-width)
    var(--mixin-JiJMZZrVsRkB_border-left-style)
    var(--mixin-JiJMZZrVsRkB_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-_WICGoAqD8jT_background);
  font-family: var(--mixin-_WICGoAqD8jT_font-family);
  border-radius: var(--mixin-_WICGoAqD8jT_border-top-left-radius)
    var(--mixin-_WICGoAqD8jT_border-top-right-radius)
    var(--mixin-_WICGoAqD8jT_border-bottom-right-radius)
    var(--mixin-_WICGoAqD8jT_border-bottom-left-radius);
  padding: var(--mixin-_WICGoAqD8jT_padding-top)
    var(--mixin-_WICGoAqD8jT_padding-right)
    var(--mixin-_WICGoAqD8jT_padding-bottom)
    var(--mixin-_WICGoAqD8jT_padding-left);
  border-top: var(--mixin-_WICGoAqD8jT_border-top-width)
    var(--mixin-_WICGoAqD8jT_border-top-style)
    var(--mixin-_WICGoAqD8jT_border-top-color);
  border-right: var(--mixin-_WICGoAqD8jT_border-right-width)
    var(--mixin-_WICGoAqD8jT_border-right-style)
    var(--mixin-_WICGoAqD8jT_border-right-color);
  border-bottom: var(--mixin-_WICGoAqD8jT_border-bottom-width)
    var(--mixin-_WICGoAqD8jT_border-bottom-style)
    var(--mixin-_WICGoAqD8jT_border-bottom-color);
  border-left: var(--mixin-_WICGoAqD8jT_border-left-width)
    var(--mixin-_WICGoAqD8jT_border-left-style)
    var(--mixin-_WICGoAqD8jT_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ekumr34QzF6k_display);
  flex-direction: var(--mixin-ekumr34QzF6k_flex-direction);
  align-items: var(--mixin-ekumr34QzF6k_align-items);
  justify-content: var(--mixin-ekumr34QzF6k_justify-content);
  list-style-position: var(--mixin-ekumr34QzF6k_list-style-position);
  padding-left: var(--mixin-ekumr34QzF6k_padding-left);
  position: var(--mixin-ekumr34QzF6k_position);
  list-style-type: var(--mixin-ekumr34QzF6k_list-style-type);
  flex-column-gap: var(--mixin-ekumr34QzF6k_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-duG3OhnNMe5O_display);
  flex-direction: var(--mixin-duG3OhnNMe5O_flex-direction);
  align-items: var(--mixin-duG3OhnNMe5O_align-items);
  justify-content: var(--mixin-duG3OhnNMe5O_justify-content);
  list-style-position: var(--mixin-duG3OhnNMe5O_list-style-position);
  padding-left: var(--mixin-duG3OhnNMe5O_padding-left);
  position: var(--mixin-duG3OhnNMe5O_position);
  list-style-type: var(--mixin-duG3OhnNMe5O_list-style-type);
  flex-column-gap: var(--mixin-duG3OhnNMe5O_flex-column-gap);
}
